<h2>Add new contact</h2>

<%= form_tag("/contacts", method: "post") do %>
<p>  <%= label_tag(:name, "Name") %>
  </p>  <%= text_field_tag(:name) %>
<p>  <%= label_tag(:address, "Address") %>
  </p>  <%= text_field_tag(:address) %>
<p>  <%= label_tag(:phone_number, "Phone number") %>
  </p>  <%= text_field_tag(:phone_number) %>
<p>  <%= label_tag(:email, "Email") %>
  </p>  <%= text_field_tag(:email) %>
<p>  <%= submit_tag("Save contact") %>
</p><% end %>

<p><%= link_to 'Back to all contacts', '/contacts' %></p>