<h2><%= @contact.name %></h2>
<p><%= @contact.address %></p>
<p><%= @contact.phone_number %></p>
<p><%= @contact.email %></p>

<% if !@contact.favourite == true %>
	<%= form_tag "/contacts/favourite/" + @contact.id.to_s do %>
		<input type="submit" value="Mark as favourite">
	<% end %>
<% end %>

<%= link_to "Edit", edit_contact_path %>
