<h2>Add a new concert</h2>

<%= form_for @concert do |f| %>
	<p><%= f.label :band %></p>
	<%= f.text_field :band %>
	<br />
	<p><%= f.label :venue %></p>
	<%= f.text_field :venue %>
	<br />
	<p><%= f.label :city %></p>
	<%= f.text_field :city %>
	<br />
	<p><%= f.label :date %></p>
	<%= f.date_field :date %>
	<br />
	<p><%= f.label :price %></p>
	<%= f.number_field :price %>
	<br />
	<p><%= f.label :description %></p>
	<%= f.text_area :description %>
	<br />
	<p><%= f.label :poster %></p>
	<%= f.file_field :poster %>
	<br />
	<%= f.submit %>
<% end %>