<h2><%= @concert.band %> <%= @concert.date.strftime("%d-%m-%Y") %> </h2>
<p><%= @concert.venue %></p>
<p><%= @concert.city %></p>
<p><%= @concert.date.strftime("%H:%M") %></p>
<p><%= @concert.price %>€</p>
<p><%= @concert.description %></p>
