<h2>
<%= @concert.band %> <%= @concert.date.strftime("%d-%m-%Y") %> </h2>

<p>City: <%= @concert.city %></p>
<p>Venue: <%= @concert.venue %></p>
<p>Time: <%= @concert.date.strftime("%H:%M") %></p>
<p>Price: <%= @concert.price %>€</p>
<p><%= @concert.description %></p>

<h3>Comments</h3>

<h4>What do you think?</h4>
<%= form_for [@concert, @comment] do |f| %>
	<%= f.text_area :text %>
	<br />
	<%= f.submit %>
<% end %>

<% if !@comments.blank? %>
	<h4><%= @comments.count %> <%= "comment".pluralize(@comments.count) %> so far</h4>

	<% @comments.each do |comment| %>
		<p><%= comment.text %></p>
		<p><%= comment.created_at.strftime("%d-%m-%Y at %H:%M") %></p>
	<% end %>
<% else %>
	<p>Be the first to comment!</p>
<% end %>