<!DOCTYPE html>
<html>
<head>
  <title>AddressBook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<nav>
		<ul>
			<li><%= link_to 'All contacts', contacts_path %></li>
			<li><%= link_to "Favourite contacts", "/favourites" %>
</li>
			<li><%= link_to "Create new contact", new_contact_path %></li>
		</ul>
	</nav>
	<h1>Address Book</h1>

	<% flash.each do |key, value| %>
		<%= content_tag :div, value, class: "flash-info" %>
	<% end %>

	<%= yield %>

</body>
</html>
