<h2>Add new product</h2>

<%= form_for [@user, @product] do |f| %>
<%= render 'layouts/errors', model: @product %>

	<%= f.label :title %>
	<%= f.text_field :title %>
	<br />
	<%= f.label :description %>
	<%= f.text_field :description %>
	<br />
	<%= f.label :min_bid %>
	<%= f.number_field :min_bid %>
	<br />
	<%= f.label :deadline %>
	<%= f.date_field :deadline %>
	<br />
	<%= f.hidden_field :user_id %>

	<%= f.submit %>
<% end %>