<h2><%= @product.title %></h2>

<p>Description: <%= @product.description %></p>
<p>Minimum bid: <%= @product.min_bid %>€</p>
<p>Bidding deadline: <%= @product.deadline %></p>

<h3>Bids for this product</h3>
<% @bids.each do |bid| %>
	<ul>
		<li><strong><%= User.find(@product.user_id).name %>:</strong> <%= bid.amount %>€</li>
	</ul>
<% end %>

<% if @product.deadline >= Date.current %>
	<h3>Do you want to bid?</h3>

	<%= form_tag product_bids_path(@product, @bid) do %>
		<%= label_tag :amount %>
		<%= number_field_tag :amount %>
		<br />
		<%= label_tag :email %>
		<%= text_field_tag :email %>
		<br />
		<%= submit_tag 'Bid!' %>
	<% end %>
<% else %>
	<p><%= @winner.name %> won this bid</p>

<% end %>