<h2>Paste the link you want to shorten</h2>

<%= form_tag(links_path, method: "post") do %>
		<%= text_field_tag :original_url %>
		<%= submit_tag 'Shorten' %>
<% end %>

<% if @links.any? %>
<table>
	<tr>
		<th>Original url</th>
		<th>Short url</th>
	</tr>
	<% @links.each do |link| %>
	<tr>
		<td><%= link.original_url %></td>
		<td><%= link_to link.short_url, link.original_url %></td>
	</tr>
	<% end %>
</table>
<% else %>
<p>No links yet</p>
<% end %>